.ButtonSetGenre {
    width: 50%;
    height: 2em;
    background-color: #1A1F27;
    border: 2px solid #595555;
    border-radius: 28px;
    color: white;
    text-align: center;
    line-height: 2em;
}

.genre-container {
    height: 80vh;
    background-color: #1A1F27;
    width: 100%;
    overflow: auto;
}

.genre-block {
    display: inline-block;
    padding: 10px;
    border: 1px solid;
    margin: 10px; 
}

.ExpandedSectionHeader {
    width: 90%;
    height: 2em;
    background-color: #1A1F27;
    border-radius: 0px;
    color: white;
    text-align: center;
    line-height: 2em;
}